.menu-content-wrapper {
  min-width: 1000px;
  padding: 196px 50px 0 0;
  transition: padding-top .25s ease-out;
}

.menu-content-inner {
  position: relative;
  display: flex;
  padding: 0 50px;
  min-width: 900px;
  margin: 0 auto;
}

.menu-category-list-wrapper {
  width: 200px;
  padding-right: 80px;
}

.menu-category-list-inner {
  margin-bottom: 40px;
}

.menu-category-list-inner-moblie {
  display: none;
}

.menu-category-list-top-wrapper {
  display: none;
}

.menu-category-list-name {
  padding: 3px 0;
}

.menu-category-list-name-text {
  margin: -6px 0 8px;
  padding-bottom: 12px;
  border-bottom: 4px solid #000;
  font-size: 23px;
  color: #000;
  font-weight: 800;
  line-height: 1.25;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  padding: 0 30px 12px 0;
  position: relative;
  box-sizing: border-box;
}

.menu-category-lists {
  cursor: pointer;
  padding: 0;
}

.menu-category-list-menu {
  width: 100%;
  font-size: 16px;
  line-height: 28px;
  color: #5d5d5d;
  text-align: left;
  font-weight: 200;
  position: relative;
  padding: 3px 30px 3px 0;
  box-sizing: border-box;
}

.menu-category-list-menu:hover {
  font-weight: bold;
}

.menu-category-list-active {
  font-weight: bold;
}

.menu-product-list-wrapper {
  -webkit-box-flex: 1;
  flex: 1;
}

.menu-product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -20px;
}

.menu-product-box {
  width: 33.3%;
  padding: 0 0 40px 20px;
  box-sizing: border-box;
  position: relative;
}

.menu-product-inner {
  display: block;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.menu-prodcut-img-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 100%;
  background: #f5f7f6;
}

.menu-prodcut-img-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.menu-product-img {
  opacity: 1;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-height: 1px;
  transition: opacity .2s ease-in-out;
  border: 0;
  vertical-align: top;
}

.menu-product-info-wrapper {
  margin-top: 15px;
}

.menu-product-info-category {
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 1.2;
  color: #000;
  font-weight: 700;
  text-decoration: underline;
}

.menu-product-info-name {
  margin-bottom: 0;
  line-height: 16px;
  padding-right: 10%;
  font-size: 12px;
  color: #5d5d5d;
  word-break: break-all;
}

.menu-product-info-eng_name {
  margin-bottom: 7px;
  line-height: 16px;
  font-size: 12px;
  color: #d4d4d4;
  word-break: break-all;
}

.menu-product-info-ingredient {
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
}

.menu-product-info-kcal {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  color: #000;
  margin-right: 5px;
}

.menu-product-info-caffeine {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  color: #000;
  margin-left: 5px;
}

.menu-product-info-price {
  color: #017143;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

@media screen and (max-width: 540px) {
  .menu-content-wrapper {
    min-width: 0;
    padding: 150px 0 68px;
    transition: padding-top .25s ease-out;
  }

  .menu-content-inner {
    position: static;
    display: block;
    padding: 0;
    min-width: 0;
    margin: 0;
  }

  .menu-category-list-wrapper {
    width: auto;
    padding: 0;
    position: relative;
  }

  .menu-category-list-inner {
    display: none;
  }

  .menu-category-list-inner-moblie {
    display: block;
    position: relative;
    z-index: 98;
    min-height: 43px;
    border-top: 0;
  }

  .menu-category-list-top-wrapper {
    display: block;
    height: 40px;
    padding: 11px 15px;
    box-sizing: border-box;
  }

  .menu-category-list-title {
    margin-right: 4px;
    font-weight: 500;
    color: #a0a0a0;
    display: inline-block;
    position: relative;
    padding-right: 14px;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
  }

  .right-arrow {
    right: -2px;
    background: url(../img/nav_mid_arrow.png) no-repeat;
    background-size: 12px 12px;
    position: absolute;
    width: 12px;
    height: 12px;
    content: "";
  }

  .menu-category-list-name-mobile {
    display: inline-block;
    position: relative;
    padding-right: 14px;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
  }

  .category-list-active {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 90;
    height: auto;
    background: #fff;
    transform: translateY(0);
    transition: transform .3s, -webkit-transform .3s;
    border-top: 0;
    min-height: 43px;
  }

  .updown-arrow {
    position: absolute;
    right: -4px;
    width: 12px;
    height: 12px;
    background: url(../img/large_cate_arrow.png) no-repeat;
    background-size: 12px 12px;
    content: "";
  }

  .menu-product-info-wrapper {
    margin: 14px 12px 0;
  }

  .menu-product-list-wrapper {
    margin-top: 0;
    -webkit-box-flex: 0;
    flex: none;
  }

  .menu-product-list {
    margin: 0;
  }

  .menu-product-box {
    width: 50%;
    padding: 0 0 25px;
  }

}
